{% for profile in awscli_profiles %}
{% if 'aws_access_key_id' in profile and 'aws_secret_access_key' in profile %}
[{{ profile.name }}]
aws_access_key_id = {{ profile.aws_access_key_id }}
aws_secret_access_key = {{ profile.aws_secret_access_key }}

{% endif %}
{% endfor %}
